
04typescript/crawler/node_modules/
04typescript/crawler/build
04typescript/crawler/data/course.json
04typescript/demo/node_modules
04typescript/demo/demo8/node_modules
04typescript/demo/demo8/.parcel-cache

